<div class="col-md-6">
  <div class="my-3 mb-4">
    <%= link_to 'Explore' , hashtags_path, class:'fw-semibold text-black text-decoration-none fs-4' %>
  </div>
  <%= render @hashtags %>
</div>
<div class="col">
  One of three columns
</div>