<div class="col">
  <h1>hello world</h1>
  <%= link_to 'sign up', new_user_registration_path, class:'btn btn-primary text-white' %>
  <%= link_to 'log in', new_user_session_path, class:'btn btn-outline-primary' %>
</div>

