$primary: #1f9bf0;
$pink: rgb(249, 24, 128);
$green: rgb(0, 186, 124);

.btn:hover {
  color: white !important;
}

.text-pink{
  color: rgb(249, 24, 128) !important;
}

.text-green{
  color: rgb(0, 186, 124) !important;
}
